@font-face {
	font-family:'Polaris';
	font-weight:400;
	font-style:normal;
	src:url('../../fonts/Polaris-Book.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Polaris-Book.otf') format('opentype'),
		url('../../fonts/Polaris-Book.woff') format('woff'),
		url('../../fonts/Polaris-Book.ttf')  format('truetype'),
		url('../../fonts/Polaris-Book.svg#Polaris-Book') format('svg');
}